<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    {% for company in output %}
    <div class="container" style="float: left;"></div>
        <h3 style="align-content: center">{{ company.company_name }}</h3>
        {% for category in company.Outputs %}
        <h4>{{ category.Type }}</h4>
        <div class="container" style="max-height: 90%; overflow: auto; float: left;">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Price</th>
                </tr>
                {% for item in category.Output %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.action }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>

</html>